*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body,
#root,
#root > div {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	line-height: 1.6;
	/* background: rgb(1, 104, 201);
	background: linear-gradient(
		45deg,
		rgba(1, 104, 201, 0.5) 0%,
		rgba(170, 2, 236, 0.5) 100%
	); */
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
h1,
h2,
h3,
h4 {
	font-family: "Montserrat", sans-serif;
}
.app {
	height: 100vh;
	width: 100wv;
}
